aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
defusedxml==0.7.1
discord.py==2.7.1
feedparser==6.0.12
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
praw==8.0.1
prawcore==4.0.0
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
requests==2.34.2
sgmllib3k==1.0.0
soupsieve==2.8.4
typing_extensions==4.15.0
tzdata==2026.2
update_checker==1.0.0
urllib3==2.7.0
websocket-client==1.9.0
yarl==1.24.2
